# Binaries
/build/
/ship
/ship-cli
/ship-darwin-amd64
/ship-darwin-arm64
/ship-linux-amd64
/ship-linux-arm64
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Config
config.json

# IDE
.idea/
.vscode/
*.swp
*.swo
